##############################
## Folders                  ##
##############################
.vscode
##############################
## Folders                  ##
##############################
./targets/Boot_NucleoF411RE
./targets/APP_NucleoF411RE




 
